body {
    background-color: #558898;
}


.navBar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
}

.navBar ul li {
    padding: 15px;
}

.btnStyle {
    border-radius: 1px solid;
    padding: 10px;
    width: 100px;
    font-size: large;
}

.btnStyle:hover {
    background-color: #C7BCA1;
    transition: .7s;
}
.cartBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cartImg {
    max-width: 50px;
}
.headerStyle {
    background-color: #bcbcbc17;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Lora', serif;
}
.logo {
    display: flex;
    align-items: center;
    color: #8B7E74;
    background-color: #bcbcbc17;
}

.logo img {
    max-width: 150px;
}
.btnProductos {
    border-radius: 1px solid;
    padding: 10px;
    width: 300px;
    height: 120px;
    font-size: 30px;
    font-family: 'Lora', serif;
    color: #8B7E74;
}
.btnProductos:hover {
    background-color: #C7BCA1;
    transition: .7s;
}
.containerProd {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
/*     background-image: url(./images/banner-food.jpg);

    background-repeat: no-repeat;
    background-size: 100%; */
}
.bannerProd {
    width: 100vw;
    height: 300px;
    object-fit: cover;
}