


.navBar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
}

.navBar ul li {
    padding: 15px;
}

.btnStyle {
    border-radius: 1px solid;
    padding: 10px;
    width: 100px;
    font-size: large;
    list-style: none;
}

.btnStyle:hover {
    background-color: #C7BCA1;
    transition: .7s;
}
.cartBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cartImg {
    max-width: 50px;
}
.headerStyle {
    background-color: #bcbcbc17;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Lora', serif;
}
.logo {
    display: flex;
    align-items: center;
    color: #8B7E74;
    background-color: rgb(188 188 188,);
}

.logo img {
    max-width: 150px;
}
.btnProductos {
    border-radius: 1px solid;
    padding: 10px;
    width: 300px;
    height: 120px;
    font-size: 30px;
    font-family: 'Lora', serif;
    color: #8B7E74;
}
.btnProductos:hover {
    background-color: #C7BCA1;
    transition: .7s;
}
.containerProd {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.bannerProd {
    width: 100vw;
    height: 300px;
    object-fit: cover;
}
.bannerDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainText {
    position: absolute;
    color: #FFFF;
    font-family: 'Lora', serif;
    font-size: 60px;
}
.containerListProducts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.productosStyle {
    border: #8B7E74 1px solid;
    margin: 20px;
}